<div class="container-fluid row " style="background-image: linear-gradient(#cfe9e7,white);">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-2" >
        <img src="https://image.shutterstock.com/image-photo/handsome-male-scientist-safety-glasses-260nw-1919496377.jpg"  height="200px" width="200px"
             class="img-responsive"  />

    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">
        <b> <a href="./Chemist_login.php" class="btn" >LogOut</a></b>

    </div>



    <div class="col-sm-4">

    </div>





</div>


<div class="container-fluid row bg-success navigation" >
    <div class="nav col-sm-2 bg-success">

    </div>
    <nav class="nav col-sm-8 bg-success" >
        <ul class="nav navbar-nav">
            <li class="navbar-btn dropdown">
                <a href="./Chemist_Home_page.php">Home</a>

            </li>
            <li class="navbar-btn">
                <a href="#">About Us</a>


            </li>
            <li class="dropdown navbar-btn">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Products</a>
                <ul class="dropdown-menu">
                    <li><a href="./add_product.php">Add Products</a></li>
                 
                    <li><a href="./view_product.php">View Products</a></li>


                </ul>
            </li>


            
            <li class="navbar-btn">
                <a href="./Chemist_contact_us.php">Contact Us</a>


            </li>
            <li class="navbar-btn">
                <a href="./FAQ.php" >FAQ</a>


            </li>






        </ul>
    </nav>
    <div class="nav col-sm-2 bg-success">

    </div>
</div>











